.w1000{
	width:1000px;
	margin:0px auto;
}
h1{
	text-align: center;
	color:#000;
	font-weight: bold;
}
.w1000-name{
	font-size: 32px;
}
a{
	text-decoration: none;
	color:#f00;
	display: block;
	margin-left: 46px;
	font-size: 20px;
}
.w1000-number p{
	margin-left:46px;
}
.w1000-number a{
	width:250px;
}
.w1000-question{
	height:40px;
	line-height: 40px;
	margin-left: 46px;
}
a:hover{
	text-decoration: underline;
	color:#000;
}