*{
	padding:0px;
	margin:0px;
}
body{
	font-size: 12px;
	font-family: "宋体";
}
table{
	width:800px;
	background-color: green;
	text-align: center;
	margin:50px auto;
	 border-collapse:collapse;
}
img{
	width:140px;
	height:180px;
}
tr{
	height:30px;
	width:140px;
	line-height: 30px;
}
td{
	border:2px solid #fff;
	padding:10px 0px;	
}