/*reset*/
*{
	padding:0px;
	margin:0px;
}
body{
	font:13px/1.5 Verdana,"Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	background-color: #e2e2e2;
}
ul,li{
	list-style: none;
}
a{
	color:#fff;
	text-decoration: none;
}
p{
	color:#555;
}
a:hover{
	color:#494949;
	text-decoration: underline;
}
/*bese*/
.w1000{
	width:960px;
	margin:0px auto;
	text-align: center;
}
.triangle-down{
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #6caad6;
}
/*common*/
.top .w1000{
	height:65px;
	background-color: #ededed;
}
.top-bar{
	width:429px;
	height:65px;
	margin-top: 20px;
	margin-left: 20px;
	overflow: hidden;
	float: left;
}
.top-bar p{
	width:85px;
	float: left;
	line-height: 20px;
	border-left:1px solid #666;
	margin-left: -1px;
	margin-top: 10px;
}
.top-bar p a{
	color:#166708;
}
.top-logo{
	float: left;
	height:52px;
	margin-left: 20px;
}
.top-right{
	width:290px;
	height: 65px;
	float: left;
}
.top-right-t{
	height: 20px;
	width:290px;
	margin-top: 10px;
}
.top-right-t p{
	color:#6c6c6c;
	float: left;
	margin-right: 5px;
}
.top-right-t p a{
	color:#6c6c6c;
}
.top-right-b{
	height: 24px;
	width:216px;
}
.top-right-b input{
	height:22px;
	width:214px;
	border:none;
	border:1px solid #dedede;
	border-radius: 6px;
	text-indent: 10px;
	color: #dedede;
	line-height: 22px;
	margin-top: 4px;
	margin-left: 50px;
	background-color: #f6f6f6;
}
.top-right-b img{
	float: left;
	position: relative;
	top:-22px;
	left:236px;
	border-left:1px solid #dedede;
	padding-left: 4px;
}
.header .w1000{
	height:424px;
	background: url(img/p-1-3.png) no-repeat;
}
.header-pt{
	font-weight: bold;
	font-size: 40px;
	color:#fff;
	width:550px;
	text-align: right;
	font-style:italic;
	padding-top: 80px;
	margin-left: 340px;
}
.header-pb{
	font-weight: bold;
	font-size: 30px;
	color:#fff;
	width:550px;
	margin-left: 340px;
	text-align: right;
	font-style:italic;
}
.header-bottom{
	height:45px;
	margin-top: 193px;
	filter:alpha(Opacity=80);
	-khtml-opacity: 0.4;
	-moz-opacity:0.5;
	opacity: 0.5;
	background:url(img/p-3-2.png) repeat-x;
}
.header-bottom img{
	width:32px;
	margin-left: 20px;
	float: left;
	margin-top: 6px;
}
.header-bottom .header-bottom-hover{
	border:2px solid #333;
	margin-top: 4px;
}
.triangle-down {
	position: relative;
	left:138px;

}



































































































