/*reset*/
*{
	padding:0px;
	margin:0px;
}
body{
	font:13px/1.5 Verdana,"Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	background-color: #fff;
*{
	padding:0px;
	margin:0px;
}
body{
	font:13px/1.5 Verdana,"Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	background-color: #faf3e3;
}
ul,li{
	list-style: none;
}
a{
	color:#f00;
	text-decoration: none;
}
p{
	color:#666;
}
a:hover{
	color:#f00;
	text-decoration: underline;
}
/*bese*/
.w1000{
	width:1000px;
	margin:0px auto;
	text-align: center;
}
/*common*/
*{
	padding:0px;
	margin:0px;
}
body{
	font:13px/1.5 Verdana,"Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	background-color: #faf3e3;
}
ul,li{
	list-style: none;
}
a{
	color:#fff;
	text-decoration: none;
}
p{
	color:#666;
}
a:hover{
	color:#f00;
	text-decoration: underline;
}
/*bese*/
.w1000{
	width:1000px;
	margin:0px auto;
	text-align: center;
}
/*common*/;
}
ul,li{
	list-style: none;
}
a{
	color:#f00;
	text-decoration: none;
}
p{
	color:#666;
}
a:hover{
	color:#f00;
	text-decoration: underline;
}
/*bese*/
.w1000{
	width:1000px;
	margin:0px auto;
	text-align: center;
}
/*common*/
.top{
	width:100%;
	height:94px;
	background:url(img/p-6-3.jpg) repeat-x;
}
.top .w1000{
	height:94px;
}
.top-logo{
	float: left;
	width:240px;
	margin-right: 180px;
	margin-top: 6px;
}
.top-logo img{
	width:240px;
}
.top-input{
	width:300px;
	height:26px;
	float: left;
	margin-top: 49px;
}
.top-input p{
	width:50px;
	height:24px;
	float: left;
	line-height: 24px;
}
.top-input input{
	width:90px;
	height:22px;
	vertical-align: middle;
	float: left;
	outline: medium;
	background-color: #fff;
}
.top-right{
	width:250px;
	height:55px;
	float: right;
	margin-top: 20px;
}
.top-right-top{
	height:30px;
	width:195px;
	float: right;
}
.top-right-top p{
	float: left;
	font-size: 12px;
}
.top-right-top p a{
	color:#666;
}
.top-right-top .top-right-top-r a{
	color:#eb1956;
}
.top-right-bottom{
	width:250px;
	height:30px;
}
.top-right-bottom button{
	background-color: #eb1956;
	float: left;
	width:48px;
	height:24px;
	color:#fff;
	line-height: 24px;
	margin-right: 15px;
	border:0px;
	border-radius:2px;
}
.top-right-bottom img{
	float: left;
	width:22px;
	border:1px solid #9aa5a7;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	position: relative;
	left:1px;
}
.top-right-bottom .top-right-bottom-b{
	margin-right: 0px;
	background-color: #0576d4;
	width:100px;
	border:1px solid #9aa5a7;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.top-content{
	height:476px;
	background-color:#f51e61;
	width:100%;
}
.top-content .w1000{
	padding-top: 10px;
}
.top-content-nav{
	height:74px;
	width:1000px;
	background-color: #db1048;
	border-radius: 4px;
}
.top-content-nav-b{
	height:74px;
	width:980px;
	margin:12px auto;
}
.top-content-nav-t{
	height:74px;
	float: left;
}
.top-content-nav-tt{
	width:50px;
	float: left;
}
.top-content-img{
	float: left;
	width:2px;
	margin:14px 5px;
}
.top-content-nav-tbb{
	width:125px;
	height:54px;
	float: left;
	line-height: 28px;
	margin-top: 10px;
	margin-left: 10px;
}
.top-content-nav-tbb p{
	width:62px;
	float: left;
}
.top-content-nav-tbb p a{
	color:#fff;	
}
.top-content-nav-tbbb{
	width:62px;
	height:54px;
	float: left;
	line-height: 28px;
	margin-top: 10px;
	margin-left: 10px;
}
.top-content-nav-tbbb p{
	width:62px;
	/*float: left;*/
}
.top-content-nav-tbbb p a{
	color:#fff;
}
.top-content-nav-tl{
	font-size: 22px;
	font-weight: bolder;
	line-height: 50px;
	height:40px;
	/*margin-top: 10px;*/
}
.top-content-nav-tl a{
	color:#fff;
}
.top-content-nav-tb{
	font-size: 2px;
	text-align: left;
	height:20px;
	color:#ee5d8a;
	margin-left: 2px;
	margin-top: 2px;
	text-align: center;
}

.top-content-center{
	width:684px;
	height:336px;
	float: left;
	margin-top: 15px;
	background-color: #db1048;
}
.top-content-center img{
	width:664px;
	margin:10px auto;

}
.top-content-right{
	float: right;
	width:300px;
	height:336px;
	margin-top: 15px;
	background-color: #db1048;
}
.top-content-right-t{
	width:280px;
	height:30px;
	text-align: left;
}
.top-content-right-t p{
	color:#fff;
	font-size: 16px;
	margin-left: 10px;
	line-height: 40px;
	font-weight: bolder;
}
.top-content-right-b{
	width:280px;
	height:286px;
	margin:10px auto;
	background-color:#f51e61;
}
.top-content-right-b img{
	width:260px;
	margin:10px auto;
}
.top-content-right-b p{
	height:24px;
	width:280px;
	margin-left: 10px;
	text-align: left;
	font-size: 14px;
}
.top-content-right-b p a{
	color:#fff;
}
.top-nav{
	height:39px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.top-nav .w1000{
	height:39px;
	background-color: #2b2f32;
}
.top-nav-left{
	float: left;
	width:270px;
	background: url(img/p-1-4.jpg) repeat-x;
	height:39px;
}
.top-nav-left p{
	font-size: 18px;
	margin-left: 10px;
	line-height: 39px;
	font-weight: bolder;
	color:#e0ab4e;
}
.top-nav-right{
	float: left;
	width:680px;
	height:39px;
	margin-left: 39px;
}
.top-nav-right p{
	font-size:16px;
	float: left;
	line-height: 39px;
	margin-left: 10px;
}
.top-nav-right p a{
	color:#d6d6d6;
}
.content .w1000{
	height:420px;
	background-color: #fff;
}
.content-l{
	width:320px;
	float: left;
	margin-right: 10px;
}
.content-c{
	width:380px;
	height:420px;
	float: left;
	margin-left: 20px;
}
.content-c-top{
	height:70px;
	width:380px;
	margin-top: 10px;
}
.content-c-top-t{
	color:#f00;
	height: 30px;
	font-size: 17px;
	font-weight: bolder;
	text-align: center;
}
.content-c-top-b{
	height:30px;
	margin-top: 10px;
}
.content-c-top-b p{
	height: 30px;
	font-size: 14px;
	text-align: left;
}
.content-c-top-b p a{
	color:#d6d6d6;
	float: right;
	margin-right: 20px;

}
.content-c-bottom{
	height:250px;
	width:360px;
	margin-left: 20px;
	margin-top: 10px;
}
.content-c-bottom ul li {
	height:25px;
	list-style: disc;
}

.content-c-bottom ul li  p{
	font-size: 8px;
	text-align: left;
	height:25px;
	line-height: 25px;
}
.content-c-bottom ul li  p a{
	color:#666;
}
.contnet-r{
	width:260px;
	height:420px;
	float: left;
	margin-left:10px;
}
.content-r-top{
	height:40px;
	width:260px;
	background-color: #d6d6d6;
	line-height: 40px;
}
.content-r-top input{
	width:188px;
	height:26px;
	font-size: 12px;
	color:#d6d6d6;
}
.content-r-top button{
	background-color: #7d7d7d;
	width:44px;
	height:26px;
	border:0px;
	border-radius: 4px;
}
.content-r-topt{
	width:260px;
	height:40px;
	margin:20px 0px;
}
.content-r-top-b{
	height:258px;
	width:260px;
	border:1px solid #ededed;
	/*border-top:0px;*/
}
.content-r-top-bll{
	height:40px;
	width: 260px;
}
.content-r-top-bl{
	height:37px;
	width:90px;
	background-color: #ededed;
	line-height: 36px;
	font-size: 16px;
	float: left;
	/*padding-bottom: 2px;*/
	/*border-bottom: 1px solid #d9d9d9;*/
}
.content-r-top-ble{
	height:38px;
	width:90px;
	font-size: 16px;
	float: left;
	margin-left: 2px;
	line-height: 38px;
	background-color: #fff;
	border-top:2px solid #f00;
	border-left:1px solid #ededed;
	border-right:1px solid #ededed;
	border-bottom: 0px;
}
.content-r-top-bt{
	width:250px;
	height:30px;
	line-height: 30px;
	margin:0px auto;
	border-bottom: 1px solid #ededed;
}
.content-r-top-bt img{
	width:16px;
	float: left;
	margin-top: 8px;
	margin-left: 10px;
}
.content-r-top-bt p{
	float: left;
	width:218px;
	margin-left: 6px;
	text-align: left;
}

.top-logo img,
.top-right-bottom button,
.top-right-bottom img,
.top-right-bottom .top-right-bottom-b:hover{
	cursor: pointer;
}

.content-sidbar .w1000{
	margin-top: 10px;
	height:60px;
	background:url(img/p-6-2.jpg) repeat-x;
}
.content-sidbar-c{
	width:460px;
	height:60px;
	margin:0px auto;
}
.content-sidbar .w1000 img{
	float: left;
}
.content-sidbar-r{
	float: left;
	width:315px;
	height:60px;
}
.content-sidbar-r p{
	color:#e8b0de;
}
.content-sidbar-rt{
	width:315px;
	font-size: 10px;
	height: 16px;
	text-align: center;
}
.content-sidbar-rc{
	width:315px;
	font-size: 16px;

}
.content-sidbar-rb{
	font-size: 10px;
	width:315px;
	text-align: center;
}
.content-sidbar-rb span{
	color:#dd8acf;
}
.content-bride .w1000{
	height:39px;
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: #2b2f32;
}
.content-bride-right{
	float: right;
	width:200px;
	height:39px;
}
.content-bride-right p{
	font-size:16px;
	float: left;
	line-height: 39px;
	margin-left: 10px;
}
.content-bride-right p a{
	color:#d6d6d6;
}
.center .w1000{
	height:700px;
}
.center-left{
	width:257px;
	float: left;
}
.center-let-t{
	height:432px;
	width:257px;
	margin-bottom: 10px;
}
.center-let-t img{
	width:257px;
}
.center-let-t p{
	width:257px;
	height:82px;
	text-align: left;
	background-color: #ebebeb;
	font-size: 14px;
	line-height: 26px;
}
.center-let-c{
	width:257px;
	height:106px;
}
.center-let-ct{
	height:25px;
	width:257px;
	background-color:#b6b6b6;
	border-radius: 8px;
	margin-bottom: 10px;
}
.center-let-ct p{
	color:#f00;
	text-align: left; 
	margin-left: 20px;
	font-size: 16px;
	line-height: 25px;
}
.center-let-cb{
	width:257px;
	height:22px;
	background-color: #ebebeb;
}
.center-let-cb p{
	float: left;
	margin-right: 8px;
}
.center-let-cb p a{
	color:#666;
}
.center-let-cbb{
	background-color: #fff;
}
.center-let-b{
	height:138px;
	width:257px;
	border:1px solid #ebebeb;
}
.center-let-bt{
	width:60px;
	height:50px;
	float:left;
	margin:8px 10px;
}
.center-let-bt img{
	width:32px;
}
.center-let-bt p a{
	color:#666;
}
.center-content{
	width:460px;
	height:700px;
	float: left;
	margin:0px 12px;
}
.center-content-top{
	height:22px;
	border-radius: 10px;
	width:460px;
	margin-bottom: 20px;
	/*margin-top: 10px;*/
	background-color: #666;
}
.center-content-topl{
	float: left;
	font-size: 16px;
	color:#000;
	line-height: 20px;
	margin-left: 20px;
}
.center-content-topr{
	float: right;
	width:40px;
	height:16px;
	line-height: 16px;
	margin-top: 3px;
	font-size: 10px;
	background-color: #a6a6a6;
	border-radius: 8px;
	margin-right: 4px;
}
.center-content-bottom{
	height:300px;
}
.center-content-bottom-l{
	height:150px;
	float: left;
	margin:0px 10px;
}
.center-content-bottom-l img{
	width:95px;
}
.center-content-bottom-l p{
	width:95px;
	height:30px;
}
.center-right{
	width:244px;
	height:700px;
	float: left;
	margin-left: 15px;
}
.content-right-top{
	height:206px;
	margin-bottom: 10px;
}
.content-right-topcq{
	height:250px;
}
.content-right-topcq .content-right-topc{
	height:182px;
	margin-bottom: 0px;
}
.content-right-topcq .content-right-topc img{
	height:182px;
	float: left;
}
.content-right-topt{
	width:244px;
	height:16px;
	margin-bottom: 8px;
}
.content-right-toptl{
	float: left;
	width:100px;
	height:16px;
	line-height: 20px;
}
.content-right-toptl p{
	color:#f00;
	font-size: 14px;
	text-align: left;
}
.content-right-toptr{
	width:144px;
	float: right;
	height:16px;
}
.content-right-toptr p{
	font-size: 12px;
	text-align: right;
}
.content-right-toptr p a{
	color:#666;
}
.content-right-topc{
	width:244px;
	height:137px;
	margin-bottom: 4px;
}

.content-right-topc img{
	width:116px;
	float: left;
}
.content-right-topc .content-right-topcl{
	margin-right: 12px;
}
.content-right-topb{
	width:224px;
	height:40px;
	text-align: left;
	margin-top: 6px;
}
.content-right-topb ul{
	list-style: disc;
}
.content-right-topb ul li{
	color:#666;
}
.center-summary .w1000{
	height:400px;
}
.center-summary-l{
	width:258px;
	height:400px;
	float: left;
}
.center-summary-lt{
	height:350px;
}
.center-summary-lb{
	height: 50px;
	background-color: #ebebeb;
}
.center-summary-lb p{
	width:248px;
	margin:0px auto;
	text-align: left;
	line-height: 25px;
}
.center-summary-c{
	height:400px;
	width:460px;
	float: left;
	margin:0px 6px;
}
.center-summary-ct{
	width:445px;
	height:75px;
	border:4px solid #ededed;
	margin-bottom:10px;
}
.center-summary-ctt{
	font-size: 18px;
	color:#f00;
	height:30px;
	width:380px;
	font-weight: bolder;
	margin:0px auto;
}
.center-summary-ctb{
	width:425px;
	text-align: left;
	margin: 0px auto;
	line-height: 20px;
}
.center-summary-cb{
	height:306px;
	width:445px;
}
.center-summary-cbl{
	width:212px;
	height:306px;
	float: left;
}
.center-summary-cbld{
	margin-right: 20px;
}
.center-summary-cblt{
	height:30px;
	width:222px;
	border-radius: 10px;
	margin-bottom:10px;
	background-color: #ededed;
}
.center-summary-cbltl{
	font-size: 14px;
	font-weight: bolder;
	float: left;
	width:100px;
	text-align: left;
	margin-left: 10px;
	line-height: 30px;
}
.center-summary-cbltr{
	width:60px;
	background-color: #666;
	height:22px;
	float: right;
	margin-top: 4px;
	margin-right: 4px;
	line-height: 22px;
	border-radius: 10px;
}

.center-summary-cbltr a{
	font-size: 2px;
	color:#fff;
}
.center-summary-cblc{
	height:140px;
	float: left;
	width:222px;
}
.center-summary-cblcl{
	float: left;
	height:150px;
}
.center-summary-cblclg{
	margin-right: 6px;
	float: left;
}
.center-summary-cblcl img{
	width:105px;
	float: left;
}
.center-summary-cblcl p{
	width:105px;
	height:21px;
	text-align: center;
}
.center-summary-cblb{
	height:128px;
	width:210px;
	float: left;
	font-size: 14px;
}
.center-summary-cblb ul{
	height:120px;
	width:172px;
	text-align: left;
	margin-left: 20px;
	margin-top: 10px;
}
.center-summary-cblb ul li{
	list-style: disc;
	height:32px;
}
.center-summary-r{
	width:268px;
	height:400px;
	float: left;
	border-left:2px solid #ededed;
	box-shadow: 6px 0px 10px #ededed inset
}
.center-summary-rl{
	width:250px;
	height:400px;
	margin-left:18px;
}
.center-summary-rlt{
	width:250px;
	height:20px;
	margin-bottom: 10px;
}
.center-summary-rltl{
	width:100px;
	font-weight: bolder;
	font-size: 16px;
	color:#f00;
	float: left;
	line-height: 20px;
	text-align: left;
}
.center-summary-rltr{
	width:100px;
	height:20px;
	font-size: 12px;
	text-align: right;
	line-height: 20px;
	float: right;
}
.center-summary-rltr a{
	color:#666;
}
.center-summary-rlc{
	width:250px;
	height:183px;
	margin-bottom: 10px;
}
.center-summary-rlc img{
	width:116px;
	float: left;
}
.center-summary-rlcl{
	margin-right: 18px;
}
.center-summary-rlb{
	height:177px;
	width:250px;
}
.center-summary-rlb ul{
	width:220px;
}
.center-summary-rlb ul li{
	list-style: disc;
	margin-left: 20px;
	text-align: left;
	height:24px;
}
.content-bride-rightt{
	width:400px;
}
.center-summary-abc{
	height:290px;
	width:222px;
}
.center-summary-abc ul{
	width:200px;
	height:290px;
	margin-left: 20px;
}
.center-summary-abc ul li{
	list-style: disc;
	text-align: left;
	height:30px;
}
.center-summary-copy .w1000{
	height:420px;
}
.center-summary-copy .w1000 .center-summary-l{
	height:420px;
}
.center-summary-copy .w1000 .center-summary-l .center-summary-lb{
	height:70px;
}
.center-summary-copy .w1000 .center-summary-c{
	height:420px;
}
.center-summary-copy .w1000 .center-summary-c .center-summary-cb{
	height:326px;
}
.center-summary-ra{
	height:420px;
}
.center-summary-rla{
	margin-left: 22px;
	height:420px;
}
.sidebar .w1000{
	height:526px;
	border:1px solid #ededed;
	border-radius:4px;
	margin-top: 20px;
	box-shadow: 0px 2px  6px #ededed inset;
}
.sidebar-top{
	height:40px;
	width:1000px;
	margin-top: 10px;
}
.sidebar-topl{
	width:180px;
	float: left;
	height:40px;
	margin-left: 10px;
}
.sidebar-topl img{
	width:46px;
	float: left;
}
.sidebar-toplr{
	width:134px;
	float: left;
	height:40px;
}
.sidebar-toplrt{
	height:20px;
	color:#f00;
	font-weight: bolder;
	font-size: 16px;
	text-align: left;
}
.sidebar-toplrb{
	height:20px;
	color:#ededed;
	text-align: left;
}
.sidebar-topr{
	width:800px;
	float: left;
	height: 40px;
}
.sidebar-topr p{
	width:40px;
	height:20px;
	background-color: #e6e6e6;
	border-radius: 10px;
	float: right;
}
.sidebar-topr p a{
	color:#666;
}
.sidebar-toprb{
	height:8px;
	width:800px;
	float: right;
	margin-top: 6px;
	background: url(img/p-7-6.jpg) repeat-x;
}
.sidebar-bottom{
	height:450px;
	margin:15px 14px;
	margin-bottom: 0px;
}
.sidebar-bottom-l{
	width:144px;
	height:210px;
	border:1px solid #ededed;
	float: left;
	margin:0px 8px;
	margin-bottom: 20px;
}
.sidebar-bottom-l img{
	width:137px;
	margin-top: 5px;
}
.sidebar-bottom-l p{
	color:#666;
	height:14px;
	line-height: 10px;
	font-size: 12px;
	text-align: center;
}
.bar .w1000{
	height:526px;
	border:1px solid #ededed;
	border-radius:4px;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0px 2px  6px #ededed inset;
}
.bar-top{
	height:40px;
	width:480px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.bar-topl{
	width:190px;
	float: left;
	height:40px;
	margin-left: 10px;
}
.bar-topl img{
	width:46px;
	float: left;
}
.bar-toplr{
	width:134px;
	float: left;
	height:40px;
}
.bar-toplrt{
	height:20px;
	color:#f00;
	font-weight: bolder;
	font-size: 16px;
	text-align: left;
}
.bar-toplrb{
	height:20px;
	color:#ededed;
	text-align: left;
}
.bar-topr{
	width:280px;
	float: left;
	height: 40px;

}
.bar-topr p{
	width:40px;
	height:20px;
	background-color: #e6e6e6;
	border-radius: 10px;
	float: right;
}
.bar-topr p a{
	color:#666;
}
.bar-toprb{
	height:8px;
	width:280px;
	float: right;
	margin-top: 6px;
	background: url(img/p-7-6.jpg) repeat-x;
}
.bar-topv{
	margin-left: 20px;
}
.footer .w1000{
	height:96px;
	margin-bottom: 30px;
	border:1px solid #d6d6d6;
}
.footer-top{
	height:36px;
	background: url(img/p-10-1.jpg) repeat-x;
}
.footer-top p{
	font-size: 16px;
	color:#f00;
	text-align: left;
	font-weight: bolder;
	margin-left: 20px;
	line-height: 36px;
}
.footer-bottom{
	height:60px;
	width:960px;
	margin:0px auto;
}
.footer-bottom p{
	float: left;
	color:#666;
	margin:0px 2px;
	line-height: 30px;
}
.footer-bottom p a{
	color:#666;
}
.foot{
	height:168px;
	background: url(img/p-10-2.jpg) repeat-x;
}
.foot .w1000{
	height:168px;
}
.foot p{
	color:#aa8992;
	font-size: 14px;
}
.foot img{
	margin-left: 4px;
}
.foot-top{
	height:20px;
	width:460px;
	margin:0px auto;
	padding: 20px 0px;
}
.foot-top p{
	text-align: center;
	float: left;
	margin:0px 4px;
}
.foot-center{
	width:714px;
	height:20px;
	margin:0px auto;
	padding:10px 0px;
}
.foot-center p{
	text-align: center;
	font-weight: bolder;
	float: left;
	margin:0px 4px;
}
.foot-center p a{
	color:#aa8992;
}