/*reset*/
*{
	padding:0px;
	margin:0px;
}
body{
	font:13px/1.5 Verdana,"Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	background-color: #f0f1f1;
}
ul,li{
	list-style: none;
}
a{
	color:#a6a6a6;
	text-decoration: none;
}
p{
	color:#a6a6a6;
}
a:hover{
	color:#f00;
	text-decoration: underline;
}
/*bese*/
.w1000{
	width:1100px;
	margin:0px auto;
}
/*common*/
.top{
	width:100%;
	height:266px;
	background-color: #323232;
}
.topbar{
	height:46px;
	width:100%;
}
.topbar .w1000{
	height:46px;
}
.topbar-photo{
	float:left;
	width:184px;
	height:116px;
}
.topbar-photo img{
	width:184px;
	height:116px;
	position: relative;
	z-index: 2;
}
.topbar-left{
	float:left;
	width:520px;
	height:46px;
	margin-left: 20px;
}
.topbar-left p{
	float:left;
	height:46px;
	line-height: 46px;
	padding:0px 16px;
}
.topbar-left p:hover{
	background-color: #f00;
	cursor: pointer;
	color:#fff;
}
.topbar-right{
	float:right;
	height:46px;
	line-height: 46px;
	width:286px;
}
.topbar-right > .topbar-img{
	float:left;
	margin-top:14px;
	margin-left: 0px;
}
.topbar-right img {
	margin: 0px 6px;
	vertical-align: middle;
}
.topbar-right p{
	float:left;
	height:46px;
	line-height: 46px;
}
.topbar-right  >.topbar-img-right{
	margin-right:0px;
}
.top-photo{
	width:100%;
	height:220px;
	background-color: #d8dde1;
}
.top-photo-left{
	float:left;
}
.top-photo-right{
	float:right;
}
.top-photo-left span{
	font-size: 26px;
	color:#a4a4a4;
	margin-left: -185px;
}
.top-photo-left img{
	margin-top: 110px;
}
.content-main,.content-main-a{
	height: 306px;
}
.content-main-left{
	float:left;
	width:651px;
	height:306px;
}
.content-main-left p{
	padding: 6px 0px;
	width:380px;
	color:#666;
}
.content-main-left > .content-main-left-top{
	font-size: 24px;
	color:#000334;
	font-weight:bolder;
	padding:20px 0px;
}
.content-main-right{
	float:right;
	width:449px;
	height:306px;
}
.content-main-a-left{
	float:left;
	width:651px;
	height:306px;
}
.content-main-a-right{
	float:right;
	width:449px;
	height:306px;
}
.content-main-a-right p{
	padding: 6px 0px;
	width:380px;
	color:#666;
}
.content-main-a-right > .content-main-left-top{
	font-size: 24px;
	color:#000334;
	font-weight:bolder;
	padding:20px 0px;
}
.content-hr{
	height:1px;
	width:1100px;
	border:0px;
	background-color:#e6e6e6;
}
.main-nav-1{
	height:290px;
	border-top:1px solid #e6e6e6;
}
.main-nav-2{
	margin-top: 45px;
}
.main-nav-1-menu{
	float:left;
	width:290px;
	height:290px;
}
.main-nav-1-menu p{
	color:#f00;
	font-size: 18px;
	padding-left: 20px;
	padding-top:35px;
	font-weight: bolder;
}
.main-nav-1-message{
	float:left;
	width:570px;
	height:290px;
}
.main-nav-1-message p{
	padding:8px 0px;
	color:#575757;
}
.main-nav-1-mail{
	float:right;
	background-color: #f00;
	padding:4px 8px;
	color:#fff;
}
.main-nav-1-mail a{
	color:#fff;
}
.main-nav-1-mail a:hover{
	color:#000;
}
.main-nav-2-mail{
	float:right;
}
.footer{
	height:82px;
	width:100%;
	background-color: #323232;
}
.footer-left{
	float:left;
}
.footer-right{
	height:82px;
	float:right;
}
.footer-right-top{
	float:right;
	line-height: 51px;
	width:620px;
	height:41px;
}
.footer-right-top span{
	padding-left:8px;
	color:#a6a6a6;
	float:right;
}
.footer-right-bottom{
	width:620px;
	line-height: 31px;
	height:41px;
}
.footer-right-bottom p{
	width:506px;
	float:right;
}
.footer-left img{
	height:82px;
}
.footer-right-top span,
.main-nav-2-mail:hover{
	cursor: pointer;
}