reset
*{
	padding:0px;
	margin:0px;
}
body{
	font:13px/1.5 Verdana,"Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	background-color: #f0f1f1;
}
ul,li{
	list-style: none;
}
a{
	color:#a6a6a6;
	text-decoration: none;
}
p{
	color:#a6a6a6;
}
a:hover{
	color:#f00;
	text-decoration: underline;
}
/*bese*/
.w1000{
	width:1100px;
	margin:0px auto;
	text-align: center;
}
/*common*/
.top{
	width:100%;
	height:266px;
	background-color: #323232;
}
.topbar{
	height:46px;
	width:100%;
}
.topbar .w1000{
	height:46px;
}
.topbar-photo{
	float:left;
	width:184px;
	height:116px;
}
.topbar-photo img{
	width:184px;
	height:116px;
	position: relative;
	z-index: 2;
}
.topbar-left{
	float:left;
	width:520px;
	height:46px;
	margin-left: 20px;
}
.topbar-left p{
	float:left;
	height:46px;
	line-height: 46px;
	padding:0px 16px;
}
.topbar-left-hover{
	padding:0px 10px;
	background-color: #dd4012;
}
.topbar-right{
	float:right;
	height:46px;
	line-height: 46px;
	width:286px;
}
.topbar-right img{
	margin:0px 6px;
	vertical-align: middle;
}
.topbar-right > .topbar-img{
	float:left;
	margin-top:14px;
	margin-left: 0px;
}
.topbar-right p{
	float:left;
	height:46px;
	line-height: 46px;
}
.topbar-right  >.topbar-img-right{
	margin-right:0px;
}
.top-photo{
	width:100%;
	height:220px;
}
.top-photo img{
	width:100%;
	height:220px;
	position: relative;
	margin-top: -70px;
	z-index: 1;
}
.top-photo-1{
	margin-top: -36px;
	width:100%;
	height:30px;
	position: relative;
	z-index: 3;
}
.top-photo-2{
	height:32px;
	filter:alpha(Opacity=70);
	-khtml-opacity: 0.32;
	-moz-opacity:0.42;
	opacity: 0.42;
	background-color:#000;
	padding-left: 110px;
}
.top-photo-2 span{
	color:#a6a6a6;
	font-size: 13px;
	margin:0px auto;
	line-height: 32px;
}
.content{
	background-color: #f0f1f1;
}
.content-nav{
	width:200px;
	float: left;
}
.content .w1000{
	margin-top: 46px;
}
.content-nav li{
	width:200px;
	height:38px;
	line-height: 38px;
	font-weight: bolder;
	font-size: 15px;
	text-indent: 40px;
	text-align: left;
	border-bottom:1px solid #1b1c1e;
	overflow: hidden;
	background-color: #000;
	color:#909090;
}
.content-nav ul > .content-nav-hover{
	background-color: #dd4012;
	border:none;
}
.content-nav ul > .content-nav-hover a{
	color:#fff;
}
.content-nav ul > .content-nav-hover a:hover{
	color:#000;
}
.content-right{
	width:860px;
	/*height:1160px;*/
	float:left;
	margin-left: 40px;
}
.content-right img{
	margin-top:10px;
	float:left;
	width:867px;
}
.content-right .content-int img{
	width:340px;
}
.content-right > .content-img{
	margin:0px;
}
.content-sina,
.content-search,
.content-news{
	width: 900px;
	height:300px;
}
.content-search > img,
.content-sina > img,
.content-news > img{
	float:left;
	width:165px;
	margin-right:11px;
}.content-right.content-search >.content-end,
.content-right.content-sina  >.content-end,
.content-right.content-news  >.content-end,{
	margin-right:0px ;
}
.content-right .content-int > img{
	margin:20px 0px;
}
.content-people  .content-jpg img{
	width:160px;
}
.content-1 > img{
	margin-top: 30px;
}
.content-2 > img{
	margin-top: 30px;
}
.content-3 > img{
	margin-top: 30px;
}
.content-people  .content-peoples{
	width:160px;
}
.content-people{
	width:870px;
	height:230px;
	margin-top: 250px;
}
.content-people-size{
	float:left;
	width:166px;
	height:230px;
	background-color: #f00;
}
.content-people-size p{
	color:#fff;
	text-align: left;
	width:144px;
	margin:10px auto;
}
.content-hots{
	font-size: 16px;
	margin-top: 20px;
}
.content-jpg{
	width:165px;
	height:210px;
	position: relative;
	top:-240px;
	left:180px;
}
.content-jjpg{
	width:165px;
	height:210px;
	position: relative;
	top:-430px;
	left:356px;
}
.content-jppg{
	width:165px;
	height:210px;
	position: relative;
	top:-620px;
	left:532px;
}
.content-jpgg{
	width:165px;
	height:210px;
	position: relative;
	top:-810px;
	left:708px;
}
.content-ff{
	width:160px;
	height:70px;
	position: absolute;
	top:400px;
	background-color: #fff;
}
.content-fff{
	width:160px;
	height:70px;
	position:absolute;
	top:380px;
	background-color: #fff;
}
.content-ffff{
	width:160px;
	height:70px;
	position:absolute;
	top:360px;
	background-color: #fff;
}
.content-fffff{
	width:160px;
	height:70px;
	position:absolute;
	top:340px;
	background-color: #fff;
}
.content-fans{
	margin-top: 6px;
	float:left;
	height:40px;
	width:46px;
	border-right:1px solid #e1e1e1;
}
.content-fan{
	margin-top: 6px;
	float:left;
	height:40px;
	width:64px;
	border-right:1px solid #e1e1e1;
}
.content-fas{
	float:left;
	height:40px;
	width:46px;
	margin-top: 6px;
}


.footer{
	height:82px;
	position: relative;
	width:100%;
	margin-top: 2100px;
	background-color: #323232;
}
.footer-left{
	float:left;
	margin-top: -666px;
}
.footer-right{
	height:82px;
	float:right;
	margin-top: -670px;
}
.footer-right-top{
	float:right;
	line-height: 51px;
	width:620px;
	height:41px;
}
.footer-right-top span{
	padding-left:8px;
	color:#a6a6a6;
	float:right;
}
.footer-right-bottom{
	width:620px;
	line-height: 31px;
	height:41px;
}
.footer-right-bottom p{
	width:506px;
	float:right;
}
.footer-left img{
	height:82px;
}
.topbar-left p,
.topbar-right img,
.top-photo-2 span,
.footer-right-top span:hover{
	cursor: pointer;
}